{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Curso de Node</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptas sequi illum hic ad perferendis aliquid facilis dolore, ea repellat earum excepturi saepe. Ullam necessitatibus illo eos sint a fugiat.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/nodeLogo.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}